// 全局变量
/* 文字颜色 */
$text-color: #2D2F33;
$text-color-grey: #a8abb3;
$text-color-nav: #656973;
$theme-color: #007fff;

/* 文字大小 */
$font-size-sm: 12px;
$font-size-base: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;